/* form de contacto.html */
.allitems {

    display: flex;
    flex-direction: row;
    align-items: flex-start;

    .form {
        background-image: url(https://lonelyplanetes.cdnstatics2.com/sites/default/files/styles/max_1300x1300/public/blog/argentina_bestintravel2019_nido_huebl_shutterstock_0.jpg?itok=XATeMWcp);
        width: 80%;
        background-repeat: no-repeat;
        background-attachment: inherit;
        background-size: initial;
        margin: auto; 
        width: 100%;
        max-width: 800px;
        border-radius: 1em;
        padding: 3.5em 1.5em;
        color: white;
        text-shadow: 1px 1px 4px #231f20;
    }

    .form-container {
        width: 100%;
        display: grid;
        gap: 1em;
        grid-auto-columns: 100%;

        .form-tittle {
            text-align: center;
            font-size: 1.9rem;
            margin-bottom: .4em;
        }

        .form_input {
            font-family: inherit;
            font-size: 1rem;
            padding: .8em 1em;
            outline: none;
            border: none;
            border: 1px solid #bbb0b0;
            border-radius: 0.2em;
        }
        
        .form_input--message {
            resize: none;
            padding: 1.8em 1em;
            margin-bottom: 1.5em;
        }
        
        .form_cta {
            font-family: inherit;
            background-color: #089fe0;
            color: #fff;
            border: none;
            font-weight: 300;
            padding: 1.7em 0;
            border-radius: .2em;
            cursor: pointer;
            font-weight: 400;
        }
    }
}

/* cierre form contacto.html */