@media only screen and (max-width: 768px) {
    .header {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .carousel-inner div {
        img {
            height: 220px;
        }
    }

    .nuestrosdestinos {
        flex-direction: column;

        figure img {
            margin: 0px;
        }

    }

    .pie-pagina .grupo-01 {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .argentina {
        display: flex;
        flex-direction: column;

    }

    .chile {
        display: flex;
        flex-direction: column;
    }

    .mq1 {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }

    .all-info {

        .info-01 {
            flex-direction: column;
            .text-01 {
                h2 {
                    text-shadow: $shadowtext;
                    color: white;
                }

                p {
                    max-width: 66%;
                    color: white;
                }
            }
        }

        .info-02 {
            flex-direction: column;
            .text-02 {
                h3 {
                    text-shadow: $shadowtext;
                    color: white;
                }
                p {
                    max-width: 66%;
                    color: white;
                }
            }
        }
    }

    .medios-pago {
        flex-direction: column;
    }

    .medios-pago01 {
        flex-direction: column;
    }

    .swbutton {
        background-color: #f9a21e;
        border: solid white;

        a {
            color: black;
        }
    }

    .allitems {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}