body {
    background-color: #0a0a0a !important;
    width: 100%;
}

@import "mixin";
@import "header";
@import "footer";
@import "forms";
@import "variables";


/* wrapper */ 
.carousel-inner div {
    img {
        width: 100%;
        height: 576px;
    }
}

.carousel-caption {
    h3 {
        text-shadow: $shadowtext;
    }
    h5 {
        text-shadow: $shadowtext;
    }
}
/* fin de wrapper */ 
/* low wrapper */
.low-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    h3 {
        text-shadow: $shadowtext;
        color: #efefef;
        font-style: normal;
        font-size: 35px;
        padding: 30px;
        border: $border-h3;
        box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
        border-radius: 15px;
        border-left: 0;
        border-right: 0;
        border-style: groove;
        text-align: center;
        outline: none;
    }

    figure {

        img {
            border-radius: 15%;
            height: 283px;
            width: 444px;
            max-width: 100%;
            margin: 1em;
            padding: 1em;
            float: center;
        }
        figcaption a {
            display: flex;
            justify-content: center;
            text-decoration: none;
            color: white;
            text-shadow: $shadowtext;
            transition: all 100ms ease;
        }

        figcaption a:hover {
            color: $color-primario;
        }
    }

}
.nuestrosdestinos {
    width: 100%;
    @include flexrow
}
/* fin de low-wrapper */
/* wrapper02 */
.wrapper02 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 270px;
    background-image: url(https://thumbs.dreamstime.com/b/panor%C3%A1mico-de-la-costa-cerca-ciudad-antofagasta-en-chile-123122583.jpg);
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-size: 100%;

    h2 {
        text-shadow: $shadowtext;
        color: rgb(255, 255, 255);
        font-size: 35px;
        font-weight: bold;
    }
}
/* cierre wrapper02 */
/* low-wrapper02 */ 
.argentina {
    width: 100%;
    display: grid;
    grid-template-areas: 
    "argh3 argh3 argh3 argh3"
    "calafate angostura ushuaia bariloche"
    ;
    justify-content: center; 
    h3 {
        text-shadow: $shadowtext;
        color: #efefef;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-size: 38px;
        padding: 30px;
        border-radius: 15px;
        border-color: $color-primario;
        border-left: 0;
        border-right: 0;
        border-style: groove;
        text-align: center;    
    }

    div figure img {
        width: 250px;
        height: 250px;
        border: transparent 1px solid;
        border-radius: 50%;
    }

    div figure figcaption {
        text-decoration: none;
        color: white;
        text-shadow: $shadowtext;
        transition: all 100ms ease;
        justify-content: center;
        text-align: center;
    }

    .argh3 {
        width: 100%;
        grid-area: argh3;
    }
    
    .calafate {
        width: 100%;
        grid-area: calafate;
    }
    
    .angostura {
        width: 100%;
        grid-area: angostura;
    }
    
    .ushuaia {
        width: 100%;
        grid-area: ushuaia;
    
    }
    
    .bariloche {
        width: 100%;
        grid-area: bariloche;
    
    }
}

.chile {
    width: 100%;
    display: grid;
    grid-template-areas: 
    "chileh3 chileh3 chileh3 chileh3"
    "varas montt natales arenas"
    ;
    justify-content: center; 

    h3 {
        text-shadow: $shadowtext;
        color: #efefef;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-size: 38px;
        padding: 30px;
        border-radius: 15px;
        border-color: $color-primario;
        border-left: 0;
        border-right: 0;
        border-style: groove;
        text-align: center;
    }

    div figure {

        figcaption {
            text-decoration: none;
            color: white;
            text-shadow: $shadowtext;
            transition: all 100ms ease;
            justify-content: center;
            text-align: center;
        }
        
        img {
        width: 250px;
        height: 250px;
        border: transparent 1px solid;
        border-radius: 50%;
        }

    }

    .chileh3 {
        width: 100%;
        grid-area: chileh3;
    }
    
    .varas {
        width: 100%;
        grid-area: varas;
    }
    
    .montt{
        width: 100%;
        grid-area: montt;
    }
    
    .natales {
        width: 100%;
        grid-area: natales;
    }
    
    .arenas {
        width: 100%;
        grid-area: arenas;
    }
}
/* cierre low-wrapper02 */
/* empresas */
.empresas {
    width: 100%;
    .row {
        margin: 0px;
    }
    .row h3 {
        border: $border-h3;
        text-shadow: $shadowtext;
        color: white;
        border-radius: 15px;
        font-size: 38px;
        padding: 30px;
        border-left: 0;
        border-right: 0;
        border-style: groove;
        text-align: center;
        margin: 0px;
    }
    h2 {
        color: white;
        text-shadow: $shadowtext;
    }

    p {
        color: white;
    }
}

.swbutton {
    padding: 10px 20px;
    font-size: 15px;
    letter-spacing: 2px;
    background-color: #0a0a0a;
    border: none;
    
    a {
        text-decoration: none;
        color: white
    }

    a:hover {
        color: $color-primario;
    }
}

.cmbutton {
    @extend .swbutton;
}

.rmbutton {
    @extend .swbutton;

}

.transportes {
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px;

    div h1 {
        border: $border-h3;
        border-radius: 15px;
        font-size: 38px;
        padding: 30px;
        border-left: 0;
        border-right: 0;
        border-style: groove;
        text-align: center;
        
    }

    img {
        width: 288px;
        height: 288px;
        justify-content: center;
    }
}
/* cierre empresas.html */
/* quienes-somos.html */
.all-info {
    width: 100%;
    height: 100%;

    .info-01 {
        display: flex;
        flex-direction: row;
        .text-01 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            h2 {
                text-shadow: $shadowtext;
                color: white;
            }
    
            p {
                max-width: 88.8888888888%;
                color: white;
            }
        }
    }

    .info-02 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .text-02 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            h3 {
                text-shadow: $shadowtext;
                color: white;
            }
    
            p {
                max-width: 44.4444444444%;
                color: white;
            }
        }

    }
}

.medios-pago {
    color: white;
    display: flex;
    flex-direction: row;
    justify-items: center;
    text-align: center;
}

.medios-pago00 {
    h2 {
        text-shadow: $shadowtext;
        color: #9c1618;
    }
}

.medios-pago01 {
    display: flex;
    padding: 15px;
    padding-top: 0px;
    div {
        img {
            width: 150px;
            height: 150px;
        }
    }
}
/* contacto */
.contacto {

    h3 {
        text-shadow: $shadowtext;
        color: #efefef;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-size: 38px;
        padding: 30px;
        border-radius: 15px;
        border-color: $color-primario;
        border-left: 0;
        border-right: 0;
        border-style: groove;
        text-align: center;
    }
}

.list-group {
    li {
        background-color: #0a0a0a;
        color: white;
        .fw-bold {}
            img {
                width: 235px;
                height: 235px;
                border: $color-primario solid;
            }
        }
}
/* fin de contacto */

@import "mediaqueries";
